<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        .btn-text{
            width: 200px;
            height: 50px;
            background-color: green;
            color: wheat;
            border-radius: 10px;
            margin-left: 30%;
            margin-top: 10%;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/login" class="google-btn">
            <button class="btn-text">SignIn with google</button>

        </a>
    </div>
</body>
</html>